@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fade-in {
    @apply opacity-0 -translate-y-2/4;
    transition:
      opacity 2s ease-out,
      transform 2.5s ease-out;
  }

  .fade-in.show {
    @apply opacity-100 translate-y-0;
  }

  .fade-in[data-shadow='true'] {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .typing {
    @apply text-4xl text-center whitespace-nowrap overflow-hidden border-r border-orange-100 w-fit;
    animation:
      typing 3s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    from {
      max-width: 0;
    }
    to {
      max-width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
}
