.root {
  padding: 0.5rem;
  gap: 0.5rem;
  display: inline-flex;
  justify-content: center;
  border: 1px solid;
  border-radius: 0.25rem;
  font-weight: 700;
}

.root[data-variant='contained'][data-color='primary'] {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

.root[data-variant='contained'][data-color='primary']:disabled {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.root[data-variant='outline'][data-color='primary'] {
  border-color: var(--primary);
  color: var(--primary);
}

.root[data-variant='outline'][data-color='primary']:disabled {
  border-color: var(--secondary);
  color: var(--secondary);
}

.root[data-variant='text'][data-color='primary'] {
  color: var(--primary);
  border: 0;
}

.root[data-variant='text'][data-color='primary']:disabled {
  color: var(--secondary);
  border: 0;
}
