.root-card {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.25rem;
}

.root-card[data-color='primary'] {
  background-color: var(--primary);
}

.root-card[data-color='error'] {
  background-color: var(--error);
}

.root-card[data-color='white'] {
  background-color: #fff;
}
