@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-percent: 100%;
  --size: 1rem;
  --before-size: 0.5rem;
  --icon-url: url('/icon/check.svg');
}

@layer utilities {
  .wh-border-size {
    @apply w-[var(--border-size)] h-[var(--border-size)];
  }
  .absolute-top-left-half {
    @apply absolute top-2/4 left-2/4;
  }
  .form-scale-down {
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s;
    content: '';
  }
}

@layer components {
  .checkbox {
    @apply w-[var(--size)] h-[var(--size)] border border-primary;
    transition: all 0.2s;

    &:before {
      @apply absolute-top-left-half wh-border-size form-scale-down;
    }
    &:after {
      @apply absolute-top-left-half wh-border-size form-scale-down;
      mask: var(--icon-url) no-repeat center;
      mask-size: contain;
    }
  }

  input[type='checkbox']:checked + .checkbox:before {
    @apply w-full h-full bg-primary;
    transform: translate(-50%, -50%) scale(1);
  }
  input[type='checkbox']:checked + .checkbox:after {
    @apply w-full h-full bg-white;
    transform: translate(-50%, -50%) scale(1);
  }
  input[type='checkbox']:checked + .checkbox {
    @apply border-primary;
  }
}
