@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #dfbf9f;
  --secondary: #ecd9c6;
  --light-gray: #e6e6e6;
  --gray: #8c8c8c;
  --error: #cc0000;
  --error-dark: #b30000;
  --error-light: #ff9999;
}

body {
  background-color: var(--primary);
}
