@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Noto+Sans+JP:wght@100..900&display=swap');

@layer utilities {
  .text-shadow {
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  }

  h1,
  h2 {
    font-family: 'Courier New', Courier, monospace !important;
  }
}

:root {
  --primary: #dfbf9f33;
  --secondary: #ecd9c6;
  --light-gray: #e6e6e6;
  --gray: #8c8c8c;
  --error: #cc0000;
  --error-dark: #b30000;
  --error-light: #ff9999;
  --white: #fff;
  --black: #000;

  --main_pic: url('/image/main.jpg');
}

body {
  background-color: var(--primary);
  font-family: 'Noto Sans JP', sans-serif;
}
