@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer utilities {
  .text-shadow {
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  }

  .disabled {
    @apply bg-secondary border-secondary;
  }

  .font-play-fair {
    font-family: 'Playfair Display', serif;
  }
}

@layer components {
  input {
    &[data-border='primary'] {
      @apply border-light_gray;
    }
    &[data-border='error'] {
      @apply border-error;
    }
  }

  textarea {
    &[data-border='primary'] {
      @apply border-light_gray;
    }
    &[data-border='error'] {
      @apply border-error;
    }
  }

  .root-divider {
    @apply bg-[var(--color)];

    &[data-orientation='horizontal'] {
      @apply h-[var(--thickness)];
    }
    &[data-orientation='vertical'] {
      @apply w-[var(--thickness)] h-full;
    }
  }

  .root-card {
    @apply py-4 text-center;

    &[data-color='primary'] {
      @apply bg-bg_primary;
    }
    &[data-color='secondary'] {
      @apply bg-secondary;
    }
    &[data-color='none'] {
      @apply bg-[''];
    }
    &[data-color='error'] {
      @apply bg-error;
    }
    &[data-color='white'] {
      @apply bg-white;
    }
  }

  .root-button {
    @apply p-2 inline-flex justify-center items-center gap-2 border rounded font-bold;

    &[data-variant='contained'][data-color='primary'] {
      @apply bg-primary border-primary text-white;
      &:disabled {
        @apply disabled;
      }
    }
    &[data-variant='contained'][data-color='secondary'] {
      @apply bg-secondary border-secondary text-white;
    }
    &[data-variant='contained'][data-color='secondary']:disabled {
      @apply disabled;
    }
    &[data-variant='outline'][data-color='primary'] {
      @apply bg-white border-primary text-primary;
    }
    &[data-variant='outline'][data-color='primary']:disabled {
      @apply disabled;
    }
    &[data-variant='outline'][data-color='secondary'] {
      @apply bg-white border-secondary text-secondary;
    }
    &[data-variant='outline'][data-color='secondary']:disabled {
      @apply disabled;
    }
    &[data-variant='text'][data-color='primary'] {
      @apply text-primary border-0;
    }
    &[data-variant='text'][data-color='primary']:disabled {
      @apply text-secondary border-0;
    }
  }
}

:root {
  --primary: #6e4f3090;
  --primary-ligth: #6e4f3050;
  --secondary: #dfbf9f90;
  --secondary-ligth: #dfbf9f50;

  --error: #f44336;
  --error-dark: #d32f2f;
  --error-light: #e57373;

  --gray: #8c8c8c;
  --light-gray: #e6e6e6;
  --dark-gray: #424242;

  --white: #fff;
  --black: #000;

  --bg-primary: #dfbf9f15;

  --main_pic: url('/image/main.jpg');
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  font-family: 'Noto Sans JP', sans-serif;
}

.image-slider-container {
  width: 400px;
}
