@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --size: 1rem;
  --before-size: 0.5rem;
}

@layer components {
  .radio {
    @apply w-[var(--size)] h-[var(--size)] rounded-[50%] border-2 border-light_gray flex items-center justify-center relative cursor-pointer appearance-none;
    transition:
      border-color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;

    &:before {
      @apply w-[var(--before-size)] h-[var(--before-size)] rounded-[50%] bg-primary opacity-0;
      content: '';
      transition: opacity 0.2s ease-in-out;
    }
  }

  .radio:checked {
    @apply border-2 border-primary;
  }

  .radio:checked::before {
    @apply opacity-100;
  }
}
