:root {
  --size: 1rem;
  --before-size: 0.5rem;
}

.radio {
  appearance: none;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 2px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
}

.radio::before {
  content: '';
  width: var(--before-size);
  height: var(--before-size);
  border-radius: 50%;
  background-color: var(--primary);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.radio:checked {
  border: 2px solid var(--primary);
}

.radio:checked::before {
  opacity: 1;
}
