/* @tailwind components;

@layer components {
  .top-container {
    @apply h-screen flex items-center justify-center !bg-cover before:content-[''] before:w-full before:h-full before:min-h-[30rem] before:absolute before:top-o before:left-0;
    background-position: 50%;
    background: var(--main_pic) no-repeat left 40% center;
  }

  .top-title {
    @apply text-white text-left text-lg w-fit hidden whitespace-nowrap;
  }
}

.top-container:before {
  background-color: var(--primary);
} */
